<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人[{&quot;width&quot;: 60,&quot;height&quot;: 60,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M01/9A/15/wKgJnVoOgGrAef2gAAD19Re0Or8783_mobile_large.jpg&quot;}]士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新[{&quot;width&quot;: 150, &quot;height&quot;: 150, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M0B/38/DC/wKgJnVoTnMfAMbb5AAPGROev02I063_mobile_large.jpg&quot;}]的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率先采用SLP主板设计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会[{&quot;width&quot;: 120, &quot;height&quot;: 55, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group37/M02/30/58/wKgJoVo81P-jgt3EAACqQOKVs6A473_mobile_large.jpg&quot;}]提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗[{&quot;width&quot;: 88,&quot;height&quot;: 88,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M06/C5/F5/wKgJnFoVXuPC-YXTAAEBAk8_AQg034_mobile_large.jpg&quot;}]舰手机Galaxy &lt;S9的相关信息越来越多，有供应链人士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新的主板设计&gt;，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率[{&quot;width&quot;: 100, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M03/95/EA/wKgJnVoWKSfQ3V2_AADRBrdrYDg404_mobile_large.jpg&quot;}]先采用SLP主板设[{&quot;width&quot;: 120, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M04/B2/CA/wKgJnFoU4ViTtTlxAAGBnNwGwlo029_mobile_large.jpg&quot;}]计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人[{&quot;width&quot;: 60,&quot;height&quot;: 60,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group34/M08/62/EA/wKgJYVnpl8ugJB33AAEiFY_Fo3M149_mobile_large.jpg&quot;}]士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新[{&quot;width&quot;: 150, &quot;height&quot;: 150, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group29/M02/FC/9E/wKgJXVkmTPHDpQOxAAGTwjJKJ_E651_mobile_large.jpg&quot;}]的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率先采用SLP主板设计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会[{&quot;width&quot;: 120, &quot;height&quot;: 55, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group21/M02/72/DB/wKgJKFidY1DTnuu1AADW0CPBOe0908_mobile_large.jpg&quot;}]提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗[{&quot;width&quot;: 88,&quot;height&quot;: 88,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group28/M07/4E/F7/wKgJXFlDwmSRqr0QAAhmHYB_xwA762_mobile_large.jpg&quot;}]舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率[{&quot;width&quot;: 100, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group32/M00/23/48/wKgJS1nIqFCiZHUDAAD7oHF74VA233_mobile_large.jpg&quot;}]先采用SLP主板设[{&quot;width&quot;: 120, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group28/M08/85/D4/wKgJXFk2eOqDqFhjAAL0-MYwgaU207_mobile_large.png&quot;}]计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会提升到&lt;3200mAh&gt;</string>
	<string>[{&quot;width&quot;: 60,&quot;height&quot;: 60,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group33/M09/E7/A3/wKgJTFoCtFnRN7l8AAEDCNjtoAs217_mobile_large.jpg&quot;}]【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新[{&quot;width&quot;: 150, &quot;height&quot;: 150, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group31/M0A/4C/BE/wKgJX1m_qDzA7x1cAAHfALEL9Ag428_mobile_large.jpg&quot;}]的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率先采用SLP主板设计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会[{&quot;width&quot;: 120, &quot;height&quot;: 55, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group17/M08/2A/13/wKgJJFeI4V7g5O3IAAFwafbzN7c393_mobile_large.jpg&quot;}]提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人[{&quot;width&quot;: 60,&quot;height&quot;: 60,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M08/37/27/wKgJnVoTj9zhRLiJAADxWVmWsQQ666_mobile_large.jpg&quot;}]士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新[{&quot;width&quot;: 150, &quot;height&quot;: 150, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group37/M06/4C/D2/wKgJoFpJzBXCa-oqAAF4_bS4GJ8691_mobile_large.jpg&quot;}]的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率先采用SLP主板设计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会[{&quot;width&quot;: 120, &quot;height&quot;: 55, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group29/M07/4B/64/wKgJWVloVvmzRQJ-AAFR2rcc8mE237_mobile_large.jpg&quot;}]提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗[{&quot;width&quot;: 88,&quot;height&quot;: 88,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group34/M08/62/EA/wKgJYVnpl8ugJB33AAEiFY_Fo3M149_mobile_large.jpg&quot;}]舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率[{&quot;width&quot;: 100, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group21/M00/E0/3F/wKgJLVjCXt7gqJzwAAQtoYFZDpE003_mobile_large.jpg&quot;}]先采用SLP主板设[{&quot;width&quot;: 120, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group19/M03/D0/0D/wKgJK1mUGpDhtaU9AAJ-8Z3LCyo849_mobile_large.jpg&quot;}]计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人[{&quot;width&quot;: 60,&quot;height&quot;: 60,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group29/M02/FC/9E/wKgJXVkmTPHDpQOxAAGTwjJKJ_E651_mobile_large.jpg&quot;}]士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新[{&quot;width&quot;: 150, &quot;height&quot;: 150, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group36/M0B/04/88/wKgJUlo8fK3ABPifAAYT3jiOaLY46_mobile_large.jpeg&quot;}]的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率先采用SLP主板设计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会[{&quot;width&quot;: 120, &quot;height&quot;: 55, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group33/M08/12/66/wKgJTFoEOByD4ojPAAELFGowCvM524_mobile_large.jpg&quot;}]提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗[{&quot;width&quot;: 88,&quot;height&quot;: 88,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group28/M08/6F/5F/wKgJXFk1Hdriar8LAAkukbPIqc0202_mobile_large.png&quot;}]舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率[{&quot;width&quot;: 100, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group27/M03/78/DB/wKgJR1kT-CPAkhkbAAFBFTuF5xo850_mobile_large.png&quot;}]先采用SLP主板设[{&quot;width&quot;: 120, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group33/M0A/9F/00/wKgJTFoADcaQvH1yAAFy_iXY090125_mobile_large.jpg&quot;}]计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人[{&quot;width&quot;: 60,&quot;height&quot;: 60,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group36/M04/B2/18/wKgJUlpASqPxhl7PAAG8exTSWRs473_mobile_large.jpg&quot;}]士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新[{&quot;width&quot;: 150, &quot;height&quot;: 150, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M0A/8F/A7/wKgJnFoLqTzSyLSfAAHk_UwjDgc454_mobile_large.jpg&quot;}]的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率先采用SLP主板设计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会[{&quot;width&quot;: 120, &quot;height&quot;: 55, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group28/M0A/2D/C9/wKgJSFklP4jDPwTcAAEr4J-5BnE236_mobile_large.jpg&quot;}]提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人[{&quot;width&quot;: 60,&quot;height&quot;: 60,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M01/A1/CD/wKgJnVoOv3XBZiUAAAD54dLVJFA170_mobile_large.jpg&quot;}]士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新[{&quot;width&quot;: 150, &quot;height&quot;: 150, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group32/M0B/48/DD/wKgJS1nz4WrgNR3gAAUCVo1L8Xc709_mobile_large.jpg&quot;}]的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率先采用SLP主板设计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会[{&quot;width&quot;: 120, &quot;height&quot;: 55, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group27/M06/54/5F/wKgJW1kRZQeg34a3AAJyS-R4-0w125_mobile_large.jpg&quot;}]提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗[{&quot;width&quot;: 88,&quot;height&quot;: 88,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group30/M01/0D/FB/wKgJXlnLZpnirsMDAACsIvTAzk4906_mobile_large.jpg&quot;}]舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率[{&quot;width&quot;: 100, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group37/M02/30/58/wKgJoVo81P-jgt3EAACqQOKVs6A473_mobile_large.jpg&quot;}]先采用SLP主板设[{&quot;width&quot;: 120, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group36/M03/80/44/wKgJUlopBOTxGrEXAAEEudQAP20773_mobile_large.jpg&quot;}]计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人[{&quot;width&quot;: 60,&quot;height&quot;: 60,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group35/M0A/C4/C3/wKgJnFoVWmKCv1S3AAFySUu8994590_mobile_large.jpg&quot;}]士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新[{&quot;width&quot;: 150, &quot;height&quot;: 150, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group36/M07/7A/43/wKgJUloo807TBTXAAAFZTTrlqAE028_mobile_large.jpg&quot;}]的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率先采用SLP主板设计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会[{&quot;width&quot;: 120, &quot;height&quot;: 55, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group19/M0A/39/A6/wKgJJlfqNsrQDxjPAAQbwC8WoRM824_mobile_large.jpg&quot;}]提升到&lt;3200mAh&gt;</string>
	<string>【三星S9被曝采用堆叠主板设计&lt;：3月份就开卖&gt;】来自韩国ETNews报道，三星旗舰手机Galaxy &lt;S9的相关信息越来越多&gt;，有供应链人士再爆料，三星三星三星三星三星三星三星三星三星三星Galaxy S9将会采用新的主板设计，即SLP(stacked logic，&lt;堆叠式逻辑板&gt;)。据了解，率[{&quot;width&quot;: 100, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group9/M08/9A/66/wKgDYldqaDWjRyL3AALL8Q7_RXw675_mobile_large.jpg&quot;}]先采用SLP主板设[{&quot;width&quot;: 120, &quot;height&quot;: 100, &quot;url&quot;: &quot;http://fdfs.xmcdn.com/group31/M06/8C/1C/wKgJSVmJHsGyj65_AAKC8cjmTOc326_mobile_large.jpg&quot;}]计的是苹果iPhone X，这样设计带来的好处是可以容纳体积更大的电池。供应联系人士称，Galaxy S9的电池将会提升到&lt;3200mAh&gt;[{&quot;width&quot;: 88,&quot;height&quot;: 88,&quot;url&quot;: &quot;http://fdfs.xmcdn.com/group19/M0B/C5/FF/wKgJK1fDnjygjHejAAJCAP9Ql0U616_mobile_large.jpg&quot;}]</string>
</array>
</plist>
